{% extends 'base.html' %}
{% load static %}
{% block title %}read-later{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/read_later.css' %}">
{% endblock css_files %}

{% block body %}
<section id="stored_post">
{% if has_posts %}
<ul>
    {% for post in posts %}
    <li><a href="{% url 'post_details' post.slug%}">{{post.title}}</a></li>
    {% endfor %}
</ul>
{% else %}
<ul>
<li>You dont have any read later post</li>
</ul>
{% endif %}
</section>
{% endblock body %}